.alt-header {
    display: flex;
    padding: var(--horizontal-space);    
    margin-top: 20px;
    align-items: center;
    justify-content: center;    
}

.alt-header__title {
    font-size: 28px;
    font-weight: 700;
}

.alt-header__column .fa-search {
    margin-right: 10px;
}

.alt-header__column {
    width: 33%;    
}
.alt-header__column:nth-child(1) {
    display: flex;
    justify-content: left;
}

.alt-header__column:nth-child(2) {
    display: flex;
    justify-content: center;
}

.alt-header__column:nth-child(3) {
    display: flex;
    justify-content: right;
}
